<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
</head>
<body>
    <table style="width:100%">
        <tr>
          <td>Colocação</td>
          <td>Nome</td>
          <td>Pontuação</td>
          <td>Acertos Placar</td>
          <td>Acertos Vencedor</td>
        </tr>
    
    {% for rank in ranking %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{rank.fk_userId}}</td>
        <td>{{rank.pontuacao}}</td>
        <td>{{rank.correct_results}}</td>
        <td>{{rank.correct_winner}}</td>

    {% endfor %}
</tr>
</table>
    
</body>
</html>