{% load static %}
<!DOCTYPE html>
<html lang="en">
<script>
var GLOBAL_PATH = '{{ STATIC_PATH }}'; 
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header>

        <h3>BOLÃO DOS MENINOS</h1>
   <div>

       <button><a href="../../ranking">RANKING</a></button>
       <button><a href="../../auth/login">LOGOUT</a></button>
    </div> 
    </header>  

    <form action="{% url 'jogos' %}" method="POST"> {% csrf_token %}
        <div id="app">
            
           
           
           
            <main id="cards">
            </main>

            <div class="input">
                <input type ='submit' placeholder="enviar">
            </div>
    </form>   

    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>