{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form action="{% url 'jogos' %}" method="POST"> {% csrf_token %}
        <div id="app">
            <header>
             <img src="{% static 'img/R9.jpeg' %}" width="30%" height="30%" alt="Logo NLW Copa Calendario" />
             <div>
             <button onclick="temaGreen()" class="bg_primary"></button>
             <button onclick="temaBlue()" class="bg_secundary"></button>
           </div> 
           </header>  
           
            <main id="cards">
            </main>
    <input type ='submit' placeholder="enviar">
    </form>   
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>